@model Author
@{
    ViewData["Title"] = "Author Details";
}

<div class="text-center">
    <h2 class="display-5">@ViewData["Title"]</h2>
    <table>
        <tr>
            <td class = "display-6 font-weight-bold"> NAME</td>
            <td>@Model.first_name @Model.last_name</td>
        </tr>
        <tr>
            <td class = "display-6 font-weight-bold"> BOOKS</td>
            <td>
                @foreach(Book book in Model.Books)
                {
                    @book.Title<br/>
                }
            </td>
        </tr>
    </table>
    <a class="page-scroll" href="/Author"> Back To List</a>
</div>